<h2 class="screen-align">createServices</h2>
<form>
    <div id="template-im3r" class="form-group">
        <label id="template-ihi8" class="label"></label>
        <input id="template-i5i9" class="input form-control" [(ngModel)]="servicetypes.servicename" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-io88" class="form-group">
        <label id="template-ipzv" class="label"></label>
        <input id="template-i467" class="input form-control" [(ngModel)]="servicetypes.servicedescription" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-i2l41" class="form-group">
    </div>
    <div id="template-i2hoa" class="form-group">
        <button type="submit" id="template-iccqs" (click)="GpCreate()" class="button btn btn-primary">Save</button>&nbsp;&nbsp;
    </div>
</form>
