<h2 class="screen-align">createTicket</h2>
<form>
    <div id="template-ia4s" class="form-group">
        <label id="template-id43" class="label"></label>
        <input id="template-ivfh" class="input form-control" [(ngModel)]="ticket.ticketname" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-i9wh" class="form-group">
        <label id="template-ibyg" class="label"></label>
        <input id="template-iv8i" class="input form-control" [(ngModel)]="ticket.servicetypename" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-ic0rk" class="label">
    </div>
    <div id="template-ix36q" class="input form-control">
    </div>
    <div id="template-ikwum" class="row">
    </div>
    <div id="template-i2yg" class="form-group">
    </div>
    <div id="template-ips02" class="form-group">
    </div>
    <div id="template-iq8xd" class="form-group">
        <button type="submit" id="template-iftnk" (click)="GpCreate()" class="button btn btn-primary">Send</button>&nbsp;&nbsp;
    </div>
</form>
