<h2 class="screen-align">createSeverity</h2>
<form>
    <div id="template-itt1" class="form-group">
        <label id="template-izxo" class="label"></label>
        <input id="template-i023" class="input form-control"  type="text">
    </div>
    <div id="template-iwzz" class="form-group">
        <label id="template-izdf" class="label"></label>
        <input id="template-i18p" class="input form-control"  type="text">
    </div>
    <div id="template-iobx" class="form-group">
    </div>
    <div id="template-i6pi9" class="form-group">
    </div>
    <div id="template-iqerf" class="form-group">
        <button type="submit" id="template-iu3a4" (click)="GpCreate()" class="button btn btn-primary">Save</button>&nbsp;&nbsp;
    </div>
</form>
